body{
    position: relative;
    text-align: center;
    background-color: #02c091;
    font: normal 20px arial;
    padding: 10px;
    transition: background-color 1.5s;
    width: 99%;
    margin: 0;
}
section{
    margin: 0 auto;
    background-color: aliceblue;
    padding-top: 10px;  
    padding-bottom: 10px ;
    width: 400px;
    border-radius: 20px;
}
.vitoria{
    position: absolute;
    margin: 10;
    left: 0;
    top: 0;
    font-weight: 700;
}
X{
    color: #fa645e;
    margin: 0;
}
O{
    color: #6565ff;
    margin: 0;
}
#vx{
    background-color: aliceblue ;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: left;
    margin: 2px;
} 
#vo{
    width: 100%;
    text-align: left;
    background-color: aliceblue ;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    margin-top: 4px;
}
#jogadaatual{
    position: absolute;
    right: 0;
    top: 0;
    background-color: aliceblue;
    width: 20px;
    padding: 10px;
    border-radius: 3px;
    font-weight: 700;
}
.jogarcontrabot{
    position: absolute;
    background-color: aliceblue;
    width: 5%;
    right: 0;
    padding: 3px;
    border-radius: 10px;
    top: 50px;
    margin-top: 3px;
}

.jogo{  
    margin-top: -10px;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #cccbcb;
    border-radius: 10px;
    font-family: monospace;
    font-weight: 800;
    font: normal 40px arial;
}
#vencedor{
    font-weight: 900;
    font: normal 70px arial;
    margin: 0;
}
#novoJogo{
    border: none;
    background-color: #cccbcb;
    padding: 5px;
    border-radius: 5px;
}